.sidebar {
  width: 20%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 900;
  .logoContainer {
    position: relative;
    left: 20px;
    top: 20px;
    .logo {
      font-family: "Tangerine", cursive;
      font-size: 60px;
    }
  }

  .links {
    position: relative;
    top: 50px;
    font-family: "Raleway", sans-serif;
    list-style: none;
    letter-spacing: 12px;
    li {
      padding: 7px;
      cursor: pointer;
    }
  }
}
