$colors: (
  "green": #00ff6a,
  "yellow": #ffea00,
  "grey": #c5c5c5,
  "pink": #e9a5af,
  "red": #ff0000,
  "blue": #00a2ff,
  "black": black,
  "white": white,
  "purple": purple,
  "brown": brown,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;

    &-dark {
      background-color: darken($color, 10%);
    }
    &-darker {
      background-color: darken($color, 20%);
    }
    &-darkest {
      background-color: darken($color, 33%);
    }
    &-light {
      background-color: lighten($color, 10%);
    }
    &-lighter {
      background-color: lighten($color, 20%);
    }
    &-lightest {
      background-color: lighten($color, 33%);
    }
    &-mute {
      background-color: $color;
      filter: saturate(50%);
    }
    &-muter {
      background-color: $color;
      filter: saturate(30%);
    }
  }
  .text-#{$name} {
    background-color: $color;

    &-dark {
      color: darken($color, 20%);
    }
    &-darker {
      color: darken($color, 40%);
    }
    &-darkest {
      color: darken($color, 43%);
    }
    &-light {
      color: lighten($color, 20%);
    }
    &-lighter {
      color: lighten($color, 40%);
    }
    &-lightest {
      color: lighten($color, 43%);
    }
    &-mute {
      color: $color;
      filter: saturate(40%);
    }
  }
}
@each $color, $color in $colors {
  .lg-#{$color} {
    background: linear-gradient($color, $color);
  }
}
