.bg-green {
  background-color: #00ff6a;
}

.bg-green-dark {
  background-color: #00cc55;
}

.bg-green-darker {
  background-color: #009940;
}

.bg-green-darkest {
  background-color: #005724;
}

.bg-green-light {
  background-color: #33ff88;
}

.bg-green-lighter {
  background-color: #66ffa6;
}

.bg-green-lightest {
  background-color: #a8ffcc;
}

.bg-green-mute {
  background-color: #00ff6a;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-green-muter {
  background-color: #00ff6a;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-green {
  color: #00ff6a;
}

.text-green-dark {
  color: #009940;
}

.text-green-darker {
  color: #003315;
}

.text-green-darkest {
  color: #00240f;
}

.text-green-light {
  color: #66ffa6;
}

.text-green-lighter {
  color: #ccffe1;
}

.text-green-lightest {
  color: #dbffea;
}

.text-green-mute {
  color: #00ff6a;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-yellow {
  background-color: #ffea00;
}

.bg-yellow-dark {
  background-color: #ccbb00;
}

.bg-yellow-darker {
  background-color: #998c00;
}

.bg-yellow-darkest {
  background-color: #575000;
}

.bg-yellow-light {
  background-color: #ffee33;
}

.bg-yellow-lighter {
  background-color: #fff266;
}

.bg-yellow-lightest {
  background-color: #fff8a8;
}

.bg-yellow-mute {
  background-color: #ffea00;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-yellow-muter {
  background-color: #ffea00;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-yellow {
  color: #ffea00;
}

.text-yellow-dark {
  color: #998c00;
}

.text-yellow-darker {
  color: #332f00;
}

.text-yellow-darkest {
  color: #242100;
}

.text-yellow-light {
  color: #fff266;
}

.text-yellow-lighter {
  color: #fffbcc;
}

.text-yellow-lightest {
  color: #fffcdb;
}

.text-yellow-mute {
  color: #ffea00;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-grey {
  background-color: #c5c5c5;
}

.bg-grey-dark {
  background-color: #acacac;
}

.bg-grey-darker {
  background-color: #929292;
}

.bg-grey-darkest {
  background-color: #717171;
}

.bg-grey-light {
  background-color: #dfdfdf;
}

.bg-grey-lighter {
  background-color: #f8f8f8;
}

.bg-grey-lightest {
  background-color: white;
}

.bg-grey-mute {
  background-color: #c5c5c5;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-grey-muter {
  background-color: #c5c5c5;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-grey {
  color: #c5c5c5;
}

.text-grey-dark {
  color: #929292;
}

.text-grey-darker {
  color: #5f5f5f;
}

.text-grey-darkest {
  color: #575757;
}

.text-grey-light {
  color: #f8f8f8;
}

.text-grey-lighter {
  color: white;
}

.text-grey-lightest {
  color: white;
}

.text-grey-mute {
  color: #c5c5c5;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-pink {
  background-color: #e9a5af;
}

.bg-pink-dark {
  background-color: #df7c8b;
}

.bg-pink-darker {
  background-color: #d55366;
}

.bg-pink-darkest {
  background-color: #b92d42;
}

.bg-pink-light {
  background-color: #f3ced3;
}

.bg-pink-lighter {
  background-color: #fdf7f8;
}

.bg-pink-lightest {
  background-color: white;
}

.bg-pink-mute {
  background-color: #e9a5af;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-pink-muter {
  background-color: #e9a5af;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-pink {
  color: #e9a5af;
}

.text-pink-dark {
  color: #d55366;
}

.text-pink-darker {
  color: #9c2637;
}

.text-pink-darkest {
  color: #902333;
}

.text-pink-light {
  color: #fdf7f8;
}

.text-pink-lighter {
  color: white;
}

.text-pink-lightest {
  color: white;
}

.text-pink-mute {
  color: #e9a5af;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-red {
  background-color: #ff0000;
}

.bg-red-dark {
  background-color: #cc0000;
}

.bg-red-darker {
  background-color: #990000;
}

.bg-red-darkest {
  background-color: #570000;
}

.bg-red-light {
  background-color: #ff3333;
}

.bg-red-lighter {
  background-color: #ff6666;
}

.bg-red-lightest {
  background-color: #ffa8a8;
}

.bg-red-mute {
  background-color: #ff0000;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-red-muter {
  background-color: #ff0000;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-red {
  color: #ff0000;
}

.text-red-dark {
  color: #990000;
}

.text-red-darker {
  color: #330000;
}

.text-red-darkest {
  color: #240000;
}

.text-red-light {
  color: #ff6666;
}

.text-red-lighter {
  color: #ffcccc;
}

.text-red-lightest {
  color: #ffdbdb;
}

.text-red-mute {
  color: #ff0000;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-blue {
  background-color: #00a2ff;
}

.bg-blue-dark {
  background-color: #0082cc;
}

.bg-blue-darker {
  background-color: #006199;
}

.bg-blue-darkest {
  background-color: #003757;
}

.bg-blue-light {
  background-color: #33b5ff;
}

.bg-blue-lighter {
  background-color: #66c7ff;
}

.bg-blue-lightest {
  background-color: #a8dfff;
}

.bg-blue-mute {
  background-color: #00a2ff;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-blue-muter {
  background-color: #00a2ff;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-blue {
  color: #00a2ff;
}

.text-blue-dark {
  color: #006199;
}

.text-blue-darker {
  color: #002033;
}

.text-blue-darkest {
  color: #001724;
}

.text-blue-light {
  color: #66c7ff;
}

.text-blue-lighter {
  color: #ccecff;
}

.text-blue-lightest {
  color: #dbf2ff;
}

.text-blue-mute {
  color: #00a2ff;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-black {
  background-color: black;
}

.bg-black-dark {
  background-color: black;
}

.bg-black-darker {
  background-color: black;
}

.bg-black-darkest {
  background-color: black;
}

.bg-black-light {
  background-color: #1a1a1a;
}

.bg-black-lighter {
  background-color: #333333;
}

.bg-black-lightest {
  background-color: #545454;
}

.bg-black-mute {
  background-color: black;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-black-muter {
  background-color: black;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-black {
  color: black;
}

.text-black-dark {
  color: black;
}

.text-black-darker {
  color: black;
}

.text-black-darkest {
  color: black;
}

.text-black-light {
  color: #333333;
}

.text-black-lighter {
  color: #666666;
}

.text-black-lightest {
  color: #6e6e6e;
}

.text-black-mute {
  color: black;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-white {
  background-color: white;
}

.bg-white-dark {
  background-color: #e6e6e6;
}

.bg-white-darker {
  background-color: #cccccc;
}

.bg-white-darkest {
  background-color: #ababab;
}

.bg-white-light {
  background-color: white;
}

.bg-white-lighter {
  background-color: white;
}

.bg-white-lightest {
  background-color: white;
}

.bg-white-mute {
  background-color: white;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-white-muter {
  background-color: white;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-white {
  color: white;
}

.text-white-dark {
  color: #cccccc;
}

.text-white-darker {
  color: #999999;
}

.text-white-darkest {
  color: #919191;
}

.text-white-light {
  color: white;
}

.text-white-lighter {
  color: white;
}

.text-white-lightest {
  color: white;
}

.text-white-mute {
  color: white;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-purple {
  background-color: purple;
}

.bg-purple-dark {
  background-color: #4d004d;
}

.bg-purple-darker {
  background-color: #1a001a;
}

.bg-purple-darkest {
  background-color: black;
}

.bg-purple-light {
  background-color: #b300b3;
}

.bg-purple-lighter {
  background-color: #e600e6;
}

.bg-purple-lightest {
  background-color: #ff29ff;
}

.bg-purple-mute {
  background-color: purple;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-purple-muter {
  background-color: purple;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-purple {
  color: purple;
}

.text-purple-dark {
  color: #1a001a;
}

.text-purple-darker {
  color: black;
}

.text-purple-darkest {
  color: black;
}

.text-purple-light {
  color: #e600e6;
}

.text-purple-lighter {
  color: #ff4dff;
}

.text-purple-lightest {
  color: #ff5cff;
}

.text-purple-mute {
  color: purple;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-brown {
  background-color: brown;
}

.bg-brown-dark {
  background-color: #7c2020;
}

.bg-brown-darker {
  background-color: #541515;
}

.bg-brown-darkest {
  background-color: #1f0808;
}

.bg-brown-light {
  background-color: #cc3636;
}

.bg-brown-lighter {
  background-color: #d65f5f;
}

.bg-brown-lightest {
  background-color: #e49494;
}

.bg-brown-mute {
  background-color: brown;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-brown-muter {
  background-color: brown;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-brown {
  color: brown;
}

.text-brown-dark {
  color: #541515;
}

.text-brown-darker {
  color: #020101;
}

.text-brown-darkest {
  color: black;
}

.text-brown-light {
  color: #d65f5f;
}

.text-brown-lighter {
  color: #ebb0b0;
}

.text-brown-lightest {
  color: #eebcbc;
}

.text-brown-mute {
  color: brown;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.lg-#00ff6a {
  background: -webkit-gradient(linear, left top, left bottom, from(#00ff6a), to(#00ff6a));
  background: linear-gradient(#00ff6a, #00ff6a);
}

.lg-#ffea00 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffea00), to(#ffea00));
  background: linear-gradient(#ffea00, #ffea00);
}

.lg-#c5c5c5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#c5c5c5), to(#c5c5c5));
  background: linear-gradient(#c5c5c5, #c5c5c5);
}

.lg-#e9a5af {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9a5af), to(#e9a5af));
  background: linear-gradient(#e9a5af, #e9a5af);
}

.lg-#ff0000 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ff0000));
  background: linear-gradient(#ff0000, #ff0000);
}

.lg-#00a2ff {
  background: -webkit-gradient(linear, left top, left bottom, from(#00a2ff), to(#00a2ff));
  background: linear-gradient(#00a2ff, #00a2ff);
}

.lg-black {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background: linear-gradient(black, black);
}

.lg-white {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background: linear-gradient(white, white);
}

.lg-purple {
  background: -webkit-gradient(linear, left top, left bottom, from(purple), to(purple));
  background: linear-gradient(purple, purple);
}

.lg-brown {
  background: -webkit-gradient(linear, left top, left bottom, from(brown), to(brown));
  background: linear-gradient(brown, brown);
}
/*# sourceMappingURL=colors.css.map */