$colors: (
  "green": #00ff6a,
  "yellow": #ffea00,
  "grey": #c5c5c5,
  "pink": #e9a5af,
  "red": #df1a1a,
  "blue": #00a2ff,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;

    &-dark {
      background-color: darken($color, 20%);
    }
    &-darker {
      background-color: darken($color, 40%);
    }
    &-darkest {
      background-color: darken($color, 43%);
    }
    &-light {
      background-color: lighten($color, 20%);
    }
    &-lighter {
      background-color: lighten($color, 40%);
    }
    &-lightest {
      background-color: lighten($color, 43%);
    }
    &-mute {
      background-color: $color;
      filter: saturate(40%);
    }
  }
  .text-#{$name} {
    background-color: $color;

    &-dark {
      color: darken($color, 20%);
    }
    &-darker {
      color: darken($color, 40%);
    }
    &-darkest {
      color: darken($color, 43%);
    }
    &-light {
      color: lighten($color, 20%);
    }
    &-lighter {
      color: lighten($color, 40%);
    }
    &-lightest {
      color: lighten($color, 43%);
    }
    &-mute {
      color: $color;
      filter: saturate(40%);
    }
  }
}
