.hover {
  &-shadow:hover {
    box-shadow: 10px 10px 20px rgba(17, 17, 17, 0.349);
    transform: scale(1.05);
    transition: 0.4s;
  }
  &-underline:hover {
    background-size: 100% 5px, auto;
  }
}
