@import "colors";
@import "jumbotron";
@import "rounded";
@import "padding";
@import "buttons";
@import "shadows";
@import "width+height";
@import "hover";
* {
  transition: 0.4s;
}

$no-of-columns: 12;

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
* {
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100%;
}
.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  &-light {
    background: rgba(255, 255, 255, 0.096);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
.container {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 20px;
  background-image: ulr("logo192.png");
  &-lg {
    padding: 60px;
  }

  &-fluid {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0px;
  }
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.text {
  &-vintage {
    &-green {
      color: $vintage-green;
    }
    &-cream {
      color: $vintage-cream;
    }
    &-pink {
      color: $vintage-pink;
    }
    &-brown {
      color: $vintage-brown;
    }
  }
  &-white {
    color: $white;
  }
  &-glass {
    opacity: 50%;
  }
}
.bg {
  &-vintage {
    &-green {
      background-color: $vintage-green;
    }
    &-cream {
      background-color: $vintage-cream;
    }
    &-pink {
      background-color: $vintage-pink;
    }
    &-brown {
      background-color: $vintage-brown;
    }
  }
  &-neon {
    &-green {
      background-color: $neon-green;
    }
    &-red {
      background-color: $neon-red;
    }
    &-pink {
      background-color: $neon-pink;
    }
    &-blue {
      background-color: $neon-blue;
    }
  }
  &-instagram {
    background: $instagram;
  }
  &-special {
    background: $special;
  }
  &-dark {
    background: $dark;
  }
  &-white {
    background: $white;
  }
}
.border {
  border: 1px solid black;
  &-red {
    border-color: red;
  }
  &-green {
    border-color: green;
  }
}
@each $breakpoint, $value in $breakpoints {
  // MEDIA QUERY
  @media only screen and (min-width: $value) {
    // RESPONSIVE COLUMN CODE .....
    @for $i from 1 through $no-of-columns {
      .col-#{$breakpoint}-#{$i} {
        width: (100% / ($no-of-columns / $i));
      }
    }
  }
}
