.bg-green {
  background-color: #00ff6a;
}

.bg-green-dark {
  background-color: #00cc55;
}

.bg-green-darker {
  background-color: #009940;
}

.bg-green-darkest {
  background-color: #005724;
}

.bg-green-light {
  background-color: #33ff88;
}

.bg-green-lighter {
  background-color: #66ffa6;
}

.bg-green-lightest {
  background-color: #a8ffcc;
}

.bg-green-mute {
  background-color: #00ff6a;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-green-muter {
  background-color: #00ff6a;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-green {
  background-color: #00ff6a;
}

.text-green-dark {
  color: #009940;
}

.text-green-darker {
  color: #003315;
}

.text-green-darkest {
  color: #00240f;
}

.text-green-light {
  color: #66ffa6;
}

.text-green-lighter {
  color: #ccffe1;
}

.text-green-lightest {
  color: #dbffea;
}

.text-green-mute {
  color: #00ff6a;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-yellow {
  background-color: #ffea00;
}

.bg-yellow-dark {
  background-color: #ccbb00;
}

.bg-yellow-darker {
  background-color: #998c00;
}

.bg-yellow-darkest {
  background-color: #575000;
}

.bg-yellow-light {
  background-color: #ffee33;
}

.bg-yellow-lighter {
  background-color: #fff266;
}

.bg-yellow-lightest {
  background-color: #fff8a8;
}

.bg-yellow-mute {
  background-color: #ffea00;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-yellow-muter {
  background-color: #ffea00;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-yellow {
  background-color: #ffea00;
}

.text-yellow-dark {
  color: #998c00;
}

.text-yellow-darker {
  color: #332f00;
}

.text-yellow-darkest {
  color: #242100;
}

.text-yellow-light {
  color: #fff266;
}

.text-yellow-lighter {
  color: #fffbcc;
}

.text-yellow-lightest {
  color: #fffcdb;
}

.text-yellow-mute {
  color: #ffea00;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-grey {
  background-color: #c5c5c5;
}

.bg-grey-dark {
  background-color: #acacac;
}

.bg-grey-darker {
  background-color: #929292;
}

.bg-grey-darkest {
  background-color: #717171;
}

.bg-grey-light {
  background-color: #dfdfdf;
}

.bg-grey-lighter {
  background-color: #f8f8f8;
}

.bg-grey-lightest {
  background-color: white;
}

.bg-grey-mute {
  background-color: #c5c5c5;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-grey-muter {
  background-color: #c5c5c5;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-grey {
  background-color: #c5c5c5;
}

.text-grey-dark {
  color: #929292;
}

.text-grey-darker {
  color: #5f5f5f;
}

.text-grey-darkest {
  color: #575757;
}

.text-grey-light {
  color: #f8f8f8;
}

.text-grey-lighter {
  color: white;
}

.text-grey-lightest {
  color: white;
}

.text-grey-mute {
  color: #c5c5c5;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-pink {
  background-color: #e9a5af;
}

.bg-pink-dark {
  background-color: #df7c8b;
}

.bg-pink-darker {
  background-color: #d55366;
}

.bg-pink-darkest {
  background-color: #b92d42;
}

.bg-pink-light {
  background-color: #f3ced3;
}

.bg-pink-lighter {
  background-color: #fdf7f8;
}

.bg-pink-lightest {
  background-color: white;
}

.bg-pink-mute {
  background-color: #e9a5af;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-pink-muter {
  background-color: #e9a5af;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-pink {
  background-color: #e9a5af;
}

.text-pink-dark {
  color: #d55366;
}

.text-pink-darker {
  color: #9c2637;
}

.text-pink-darkest {
  color: #902333;
}

.text-pink-light {
  color: #fdf7f8;
}

.text-pink-lighter {
  color: white;
}

.text-pink-lightest {
  color: white;
}

.text-pink-mute {
  color: #e9a5af;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-red {
  background-color: #ff0000;
}

.bg-red-dark {
  background-color: #cc0000;
}

.bg-red-darker {
  background-color: #990000;
}

.bg-red-darkest {
  background-color: #570000;
}

.bg-red-light {
  background-color: #ff3333;
}

.bg-red-lighter {
  background-color: #ff6666;
}

.bg-red-lightest {
  background-color: #ffa8a8;
}

.bg-red-mute {
  background-color: #ff0000;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-red-muter {
  background-color: #ff0000;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-red {
  background-color: #ff0000;
}

.text-red-dark {
  color: #990000;
}

.text-red-darker {
  color: #330000;
}

.text-red-darkest {
  color: #240000;
}

.text-red-light {
  color: #ff6666;
}

.text-red-lighter {
  color: #ffcccc;
}

.text-red-lightest {
  color: #ffdbdb;
}

.text-red-mute {
  color: #ff0000;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-blue {
  background-color: #00a2ff;
}

.bg-blue-dark {
  background-color: #0082cc;
}

.bg-blue-darker {
  background-color: #006199;
}

.bg-blue-darkest {
  background-color: #003757;
}

.bg-blue-light {
  background-color: #33b5ff;
}

.bg-blue-lighter {
  background-color: #66c7ff;
}

.bg-blue-lightest {
  background-color: #a8dfff;
}

.bg-blue-mute {
  background-color: #00a2ff;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-blue-muter {
  background-color: #00a2ff;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-blue {
  background-color: #00a2ff;
}

.text-blue-dark {
  color: #006199;
}

.text-blue-darker {
  color: #002033;
}

.text-blue-darkest {
  color: #001724;
}

.text-blue-light {
  color: #66c7ff;
}

.text-blue-lighter {
  color: #ccecff;
}

.text-blue-lightest {
  color: #dbf2ff;
}

.text-blue-mute {
  color: #00a2ff;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-black {
  background-color: black;
}

.bg-black-dark {
  background-color: black;
}

.bg-black-darker {
  background-color: black;
}

.bg-black-darkest {
  background-color: black;
}

.bg-black-light {
  background-color: #1a1a1a;
}

.bg-black-lighter {
  background-color: #333333;
}

.bg-black-lightest {
  background-color: #545454;
}

.bg-black-mute {
  background-color: black;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-black-muter {
  background-color: black;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-black {
  background-color: black;
}

.text-black-dark {
  color: black;
}

.text-black-darker {
  color: black;
}

.text-black-darkest {
  color: black;
}

.text-black-light {
  color: #333333;
}

.text-black-lighter {
  color: #666666;
}

.text-black-lightest {
  color: #6e6e6e;
}

.text-black-mute {
  color: black;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-white {
  background-color: white;
}

.bg-white-dark {
  background-color: #e6e6e6;
}

.bg-white-darker {
  background-color: #cccccc;
}

.bg-white-darkest {
  background-color: #ababab;
}

.bg-white-light {
  background-color: white;
}

.bg-white-lighter {
  background-color: white;
}

.bg-white-lightest {
  background-color: white;
}

.bg-white-mute {
  background-color: white;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-white-muter {
  background-color: white;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-white {
  background-color: white;
}

.text-white-dark {
  color: #cccccc;
}

.text-white-darker {
  color: #999999;
}

.text-white-darkest {
  color: #919191;
}

.text-white-light {
  color: white;
}

.text-white-lighter {
  color: white;
}

.text-white-lightest {
  color: white;
}

.text-white-mute {
  color: white;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-purple {
  background-color: purple;
}

.bg-purple-dark {
  background-color: #4d004d;
}

.bg-purple-darker {
  background-color: #1a001a;
}

.bg-purple-darkest {
  background-color: black;
}

.bg-purple-light {
  background-color: #b300b3;
}

.bg-purple-lighter {
  background-color: #e600e6;
}

.bg-purple-lightest {
  background-color: #ff29ff;
}

.bg-purple-mute {
  background-color: purple;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-purple-muter {
  background-color: purple;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-purple {
  background-color: purple;
}

.text-purple-dark {
  color: #1a001a;
}

.text-purple-darker {
  color: black;
}

.text-purple-darkest {
  color: black;
}

.text-purple-light {
  color: #e600e6;
}

.text-purple-lighter {
  color: #ff4dff;
}

.text-purple-lightest {
  color: #ff5cff;
}

.text-purple-mute {
  color: purple;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.bg-brown {
  background-color: brown;
}

.bg-brown-dark {
  background-color: #7c2020;
}

.bg-brown-darker {
  background-color: #541515;
}

.bg-brown-darkest {
  background-color: #1f0808;
}

.bg-brown-light {
  background-color: #cc3636;
}

.bg-brown-lighter {
  background-color: #d65f5f;
}

.bg-brown-lightest {
  background-color: #e49494;
}

.bg-brown-mute {
  background-color: brown;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.bg-brown-muter {
  background-color: brown;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.text-brown {
  background-color: brown;
}

.text-brown-dark {
  color: #541515;
}

.text-brown-darker {
  color: #020101;
}

.text-brown-darkest {
  color: black;
}

.text-brown-light {
  color: #d65f5f;
}

.text-brown-lighter {
  color: #ebb0b0;
}

.text-brown-lightest {
  color: #eebcbc;
}

.text-brown-mute {
  color: brown;
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.lg-#00ff6a {
  background: -webkit-gradient(linear, left top, left bottom, from(#00ff6a), to(#00ff6a));
  background: linear-gradient(#00ff6a, #00ff6a);
}

.lg-#ffea00 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffea00), to(#ffea00));
  background: linear-gradient(#ffea00, #ffea00);
}

.lg-#c5c5c5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#c5c5c5), to(#c5c5c5));
  background: linear-gradient(#c5c5c5, #c5c5c5);
}

.lg-#e9a5af {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9a5af), to(#e9a5af));
  background: linear-gradient(#e9a5af, #e9a5af);
}

.lg-#ff0000 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ff0000));
  background: linear-gradient(#ff0000, #ff0000);
}

.lg-#00a2ff {
  background: -webkit-gradient(linear, left top, left bottom, from(#00a2ff), to(#00a2ff));
  background: linear-gradient(#00a2ff, #00a2ff);
}

.lg-black {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background: linear-gradient(black, black);
}

.lg-white {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background: linear-gradient(white, white);
}

.lg-purple {
  background: -webkit-gradient(linear, left top, left bottom, from(purple), to(purple));
  background: linear-gradient(purple, purple);
}

.lg-brown {
  background: -webkit-gradient(linear, left top, left bottom, from(brown), to(brown));
  background: linear-gradient(brown, brown);
}

.banner {
  height: 400px;
  width: 100%;
}

.rounded {
  border-radius: 10px;
}

.rounded-lg {
  border-radius: 20px;
}

.rounded-sm {
  border-radius: 5px;
}

.circle {
  border-radius: 50%;
}

.p--15 {
  padding: -15rem;
}

.pl--15 {
  padding-left: -15rem;
}

.pr--15 {
  padding-right: -15rem;
}

.pt--15 {
  padding-top: -15rem;
}

.pb--15 {
  padding-bottom: -15rem;
}

.m--15 {
  margin: -15rem;
}

.ml--15 {
  margin-left: -15rem;
}

.mr--15 {
  margin-right: -15rem;
}

.mt--15 {
  margin-top: -15rem;
}

.mb--15 {
  margin-bottom: -15rem;
}

.p--14 {
  padding: -14rem;
}

.pl--14 {
  padding-left: -14rem;
}

.pr--14 {
  padding-right: -14rem;
}

.pt--14 {
  padding-top: -14rem;
}

.pb--14 {
  padding-bottom: -14rem;
}

.m--14 {
  margin: -14rem;
}

.ml--14 {
  margin-left: -14rem;
}

.mr--14 {
  margin-right: -14rem;
}

.mt--14 {
  margin-top: -14rem;
}

.mb--14 {
  margin-bottom: -14rem;
}

.p--13 {
  padding: -13rem;
}

.pl--13 {
  padding-left: -13rem;
}

.pr--13 {
  padding-right: -13rem;
}

.pt--13 {
  padding-top: -13rem;
}

.pb--13 {
  padding-bottom: -13rem;
}

.m--13 {
  margin: -13rem;
}

.ml--13 {
  margin-left: -13rem;
}

.mr--13 {
  margin-right: -13rem;
}

.mt--13 {
  margin-top: -13rem;
}

.mb--13 {
  margin-bottom: -13rem;
}

.p--12 {
  padding: -12rem;
}

.pl--12 {
  padding-left: -12rem;
}

.pr--12 {
  padding-right: -12rem;
}

.pt--12 {
  padding-top: -12rem;
}

.pb--12 {
  padding-bottom: -12rem;
}

.m--12 {
  margin: -12rem;
}

.ml--12 {
  margin-left: -12rem;
}

.mr--12 {
  margin-right: -12rem;
}

.mt--12 {
  margin-top: -12rem;
}

.mb--12 {
  margin-bottom: -12rem;
}

.p--11 {
  padding: -11rem;
}

.pl--11 {
  padding-left: -11rem;
}

.pr--11 {
  padding-right: -11rem;
}

.pt--11 {
  padding-top: -11rem;
}

.pb--11 {
  padding-bottom: -11rem;
}

.m--11 {
  margin: -11rem;
}

.ml--11 {
  margin-left: -11rem;
}

.mr--11 {
  margin-right: -11rem;
}

.mt--11 {
  margin-top: -11rem;
}

.mb--11 {
  margin-bottom: -11rem;
}

.p--10 {
  padding: -10rem;
}

.pl--10 {
  padding-left: -10rem;
}

.pr--10 {
  padding-right: -10rem;
}

.pt--10 {
  padding-top: -10rem;
}

.pb--10 {
  padding-bottom: -10rem;
}

.m--10 {
  margin: -10rem;
}

.ml--10 {
  margin-left: -10rem;
}

.mr--10 {
  margin-right: -10rem;
}

.mt--10 {
  margin-top: -10rem;
}

.mb--10 {
  margin-bottom: -10rem;
}

.p--9 {
  padding: -9rem;
}

.pl--9 {
  padding-left: -9rem;
}

.pr--9 {
  padding-right: -9rem;
}

.pt--9 {
  padding-top: -9rem;
}

.pb--9 {
  padding-bottom: -9rem;
}

.m--9 {
  margin: -9rem;
}

.ml--9 {
  margin-left: -9rem;
}

.mr--9 {
  margin-right: -9rem;
}

.mt--9 {
  margin-top: -9rem;
}

.mb--9 {
  margin-bottom: -9rem;
}

.p--8 {
  padding: -8rem;
}

.pl--8 {
  padding-left: -8rem;
}

.pr--8 {
  padding-right: -8rem;
}

.pt--8 {
  padding-top: -8rem;
}

.pb--8 {
  padding-bottom: -8rem;
}

.m--8 {
  margin: -8rem;
}

.ml--8 {
  margin-left: -8rem;
}

.mr--8 {
  margin-right: -8rem;
}

.mt--8 {
  margin-top: -8rem;
}

.mb--8 {
  margin-bottom: -8rem;
}

.p--7 {
  padding: -7rem;
}

.pl--7 {
  padding-left: -7rem;
}

.pr--7 {
  padding-right: -7rem;
}

.pt--7 {
  padding-top: -7rem;
}

.pb--7 {
  padding-bottom: -7rem;
}

.m--7 {
  margin: -7rem;
}

.ml--7 {
  margin-left: -7rem;
}

.mr--7 {
  margin-right: -7rem;
}

.mt--7 {
  margin-top: -7rem;
}

.mb--7 {
  margin-bottom: -7rem;
}

.p--6 {
  padding: -6rem;
}

.pl--6 {
  padding-left: -6rem;
}

.pr--6 {
  padding-right: -6rem;
}

.pt--6 {
  padding-top: -6rem;
}

.pb--6 {
  padding-bottom: -6rem;
}

.m--6 {
  margin: -6rem;
}

.ml--6 {
  margin-left: -6rem;
}

.mr--6 {
  margin-right: -6rem;
}

.mt--6 {
  margin-top: -6rem;
}

.mb--6 {
  margin-bottom: -6rem;
}

.p--5 {
  padding: -5rem;
}

.pl--5 {
  padding-left: -5rem;
}

.pr--5 {
  padding-right: -5rem;
}

.pt--5 {
  padding-top: -5rem;
}

.pb--5 {
  padding-bottom: -5rem;
}

.m--5 {
  margin: -5rem;
}

.ml--5 {
  margin-left: -5rem;
}

.mr--5 {
  margin-right: -5rem;
}

.mt--5 {
  margin-top: -5rem;
}

.mb--5 {
  margin-bottom: -5rem;
}

.p--4 {
  padding: -4rem;
}

.pl--4 {
  padding-left: -4rem;
}

.pr--4 {
  padding-right: -4rem;
}

.pt--4 {
  padding-top: -4rem;
}

.pb--4 {
  padding-bottom: -4rem;
}

.m--4 {
  margin: -4rem;
}

.ml--4 {
  margin-left: -4rem;
}

.mr--4 {
  margin-right: -4rem;
}

.mt--4 {
  margin-top: -4rem;
}

.mb--4 {
  margin-bottom: -4rem;
}

.p--3 {
  padding: -3rem;
}

.pl--3 {
  padding-left: -3rem;
}

.pr--3 {
  padding-right: -3rem;
}

.pt--3 {
  padding-top: -3rem;
}

.pb--3 {
  padding-bottom: -3rem;
}

.m--3 {
  margin: -3rem;
}

.ml--3 {
  margin-left: -3rem;
}

.mr--3 {
  margin-right: -3rem;
}

.mt--3 {
  margin-top: -3rem;
}

.mb--3 {
  margin-bottom: -3rem;
}

.p--2 {
  padding: -2rem;
}

.pl--2 {
  padding-left: -2rem;
}

.pr--2 {
  padding-right: -2rem;
}

.pt--2 {
  padding-top: -2rem;
}

.pb--2 {
  padding-bottom: -2rem;
}

.m--2 {
  margin: -2rem;
}

.ml--2 {
  margin-left: -2rem;
}

.mr--2 {
  margin-right: -2rem;
}

.mt--2 {
  margin-top: -2rem;
}

.mb--2 {
  margin-bottom: -2rem;
}

.p--1 {
  padding: -1rem;
}

.pl--1 {
  padding-left: -1rem;
}

.pr--1 {
  padding-right: -1rem;
}

.pt--1 {
  padding-top: -1rem;
}

.pb--1 {
  padding-bottom: -1rem;
}

.m--1 {
  margin: -1rem;
}

.ml--1 {
  margin-left: -1rem;
}

.mr--1 {
  margin-right: -1rem;
}

.mt--1 {
  margin-top: -1rem;
}

.mb--1 {
  margin-bottom: -1rem;
}

.p-0 {
  padding: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.m-0 {
  margin: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.p-1 {
  padding: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.m-1 {
  margin: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-2 {
  padding: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.m-2 {
  margin: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.p-3 {
  padding: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.m-3 {
  margin: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.p-4 {
  padding: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.m-4 {
  margin: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.p-5 {
  padding: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.m-5 {
  margin: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.p-6 {
  padding: 6rem;
}

.pl-6 {
  padding-left: 6rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.m-6 {
  margin: 6rem;
}

.ml-6 {
  margin-left: 6rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.p-7 {
  padding: 7rem;
}

.pl-7 {
  padding-left: 7rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.m-7 {
  margin: 7rem;
}

.ml-7 {
  margin-left: 7rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.p-8 {
  padding: 8rem;
}

.pl-8 {
  padding-left: 8rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.m-8 {
  margin: 8rem;
}

.ml-8 {
  margin-left: 8rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.p-9 {
  padding: 9rem;
}

.pl-9 {
  padding-left: 9rem;
}

.pr-9 {
  padding-right: 9rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.m-9 {
  margin: 9rem;
}

.ml-9 {
  margin-left: 9rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.p-10 {
  padding: 10rem;
}

.pl-10 {
  padding-left: 10rem;
}

.pr-10 {
  padding-right: 10rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.m-10 {
  margin: 10rem;
}

.ml-10 {
  margin-left: 10rem;
}

.mr-10 {
  margin-right: 10rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.p-11 {
  padding: 11rem;
}

.pl-11 {
  padding-left: 11rem;
}

.pr-11 {
  padding-right: 11rem;
}

.pt-11 {
  padding-top: 11rem;
}

.pb-11 {
  padding-bottom: 11rem;
}

.m-11 {
  margin: 11rem;
}

.ml-11 {
  margin-left: 11rem;
}

.mr-11 {
  margin-right: 11rem;
}

.mt-11 {
  margin-top: 11rem;
}

.mb-11 {
  margin-bottom: 11rem;
}

.p-12 {
  padding: 12rem;
}

.pl-12 {
  padding-left: 12rem;
}

.pr-12 {
  padding-right: 12rem;
}

.pt-12 {
  padding-top: 12rem;
}

.pb-12 {
  padding-bottom: 12rem;
}

.m-12 {
  margin: 12rem;
}

.ml-12 {
  margin-left: 12rem;
}

.mr-12 {
  margin-right: 12rem;
}

.mt-12 {
  margin-top: 12rem;
}

.mb-12 {
  margin-bottom: 12rem;
}

.p-13 {
  padding: 13rem;
}

.pl-13 {
  padding-left: 13rem;
}

.pr-13 {
  padding-right: 13rem;
}

.pt-13 {
  padding-top: 13rem;
}

.pb-13 {
  padding-bottom: 13rem;
}

.m-13 {
  margin: 13rem;
}

.ml-13 {
  margin-left: 13rem;
}

.mr-13 {
  margin-right: 13rem;
}

.mt-13 {
  margin-top: 13rem;
}

.mb-13 {
  margin-bottom: 13rem;
}

.p-14 {
  padding: 14rem;
}

.pl-14 {
  padding-left: 14rem;
}

.pr-14 {
  padding-right: 14rem;
}

.pt-14 {
  padding-top: 14rem;
}

.pb-14 {
  padding-bottom: 14rem;
}

.m-14 {
  margin: 14rem;
}

.ml-14 {
  margin-left: 14rem;
}

.mr-14 {
  margin-right: 14rem;
}

.mt-14 {
  margin-top: 14rem;
}

.mb-14 {
  margin-bottom: 14rem;
}

.p-15 {
  padding: 15rem;
}

.pl-15 {
  padding-left: 15rem;
}

.pr-15 {
  padding-right: 15rem;
}

.pt-15 {
  padding-top: 15rem;
}

.pb-15 {
  padding-bottom: 15rem;
}

.m-15 {
  margin: 15rem;
}

.ml-15 {
  margin-left: 15rem;
}

.mr-15 {
  margin-right: 15rem;
}

.mt-15 {
  margin-top: 15rem;
}

.mb-15 {
  margin-bottom: 15rem;
}

.button {
  padding: 10px;
  border: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: linear-gradient(white, white);
  background-size: 0 3px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.shadow {
  -webkit-box-shadow: 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.315);
          box-shadow: 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.315);
}

.shadow-deep {
  -webkit-box-shadow: 0.2vw 0.2vw 3vw 1vw rgba(0, 0, 0, 0.288);
          box-shadow: 0.2vw 0.2vw 3vw 1vw rgba(0, 0, 0, 0.288);
}

.shadow-subtle {
  -webkit-box-shadow: 0.2vw 0.2vw 2vw 1vw rgba(0, 0, 0, 0.089);
          box-shadow: 0.2vw 0.2vw 2vw 1vw rgba(0, 0, 0, 0.089);
}

.w-0 {
  width: 0%;
}

.w-1 {
  width: 1%;
}

.w-2 {
  width: 2%;
}

.w-3 {
  width: 3%;
}

.w-4 {
  width: 4%;
}

.w-5 {
  width: 5%;
}

.w-6 {
  width: 6%;
}

.w-7 {
  width: 7%;
}

.w-8 {
  width: 8%;
}

.w-9 {
  width: 9%;
}

.w-10 {
  width: 10%;
}

.w-11 {
  width: 11%;
}

.w-12 {
  width: 12%;
}

.w-13 {
  width: 13%;
}

.w-14 {
  width: 14%;
}

.w-15 {
  width: 15%;
}

.w-16 {
  width: 16%;
}

.w-17 {
  width: 17%;
}

.w-18 {
  width: 18%;
}

.w-19 {
  width: 19%;
}

.w-20 {
  width: 20%;
}

.w-21 {
  width: 21%;
}

.w-22 {
  width: 22%;
}

.w-23 {
  width: 23%;
}

.w-24 {
  width: 24%;
}

.w-25 {
  width: 25%;
}

.w-26 {
  width: 26%;
}

.w-27 {
  width: 27%;
}

.w-28 {
  width: 28%;
}

.w-29 {
  width: 29%;
}

.w-30 {
  width: 30%;
}

.w-31 {
  width: 31%;
}

.w-32 {
  width: 32%;
}

.w-33 {
  width: 33%;
}

.w-34 {
  width: 34%;
}

.w-35 {
  width: 35%;
}

.w-36 {
  width: 36%;
}

.w-37 {
  width: 37%;
}

.w-38 {
  width: 38%;
}

.w-39 {
  width: 39%;
}

.w-40 {
  width: 40%;
}

.w-41 {
  width: 41%;
}

.w-42 {
  width: 42%;
}

.w-43 {
  width: 43%;
}

.w-44 {
  width: 44%;
}

.w-45 {
  width: 45%;
}

.w-46 {
  width: 46%;
}

.w-47 {
  width: 47%;
}

.w-48 {
  width: 48%;
}

.w-49 {
  width: 49%;
}

.w-50 {
  width: 50%;
}

.w-51 {
  width: 51%;
}

.w-52 {
  width: 52%;
}

.w-53 {
  width: 53%;
}

.w-54 {
  width: 54%;
}

.w-55 {
  width: 55%;
}

.w-56 {
  width: 56%;
}

.w-57 {
  width: 57%;
}

.w-58 {
  width: 58%;
}

.w-59 {
  width: 59%;
}

.w-60 {
  width: 60%;
}

.w-61 {
  width: 61%;
}

.w-62 {
  width: 62%;
}

.w-63 {
  width: 63%;
}

.w-64 {
  width: 64%;
}

.w-65 {
  width: 65%;
}

.w-66 {
  width: 66%;
}

.w-67 {
  width: 67%;
}

.w-68 {
  width: 68%;
}

.w-69 {
  width: 69%;
}

.w-70 {
  width: 70%;
}

.w-71 {
  width: 71%;
}

.w-72 {
  width: 72%;
}

.w-73 {
  width: 73%;
}

.w-74 {
  width: 74%;
}

.w-75 {
  width: 75%;
}

.w-76 {
  width: 76%;
}

.w-77 {
  width: 77%;
}

.w-78 {
  width: 78%;
}

.w-79 {
  width: 79%;
}

.w-80 {
  width: 80%;
}

.w-81 {
  width: 81%;
}

.w-82 {
  width: 82%;
}

.w-83 {
  width: 83%;
}

.w-84 {
  width: 84%;
}

.w-85 {
  width: 85%;
}

.w-86 {
  width: 86%;
}

.w-87 {
  width: 87%;
}

.w-88 {
  width: 88%;
}

.w-89 {
  width: 89%;
}

.w-90 {
  width: 90%;
}

.w-91 {
  width: 91%;
}

.w-92 {
  width: 92%;
}

.w-93 {
  width: 93%;
}

.w-94 {
  width: 94%;
}

.w-95 {
  width: 95%;
}

.w-96 {
  width: 96%;
}

.w-97 {
  width: 97%;
}

.w-98 {
  width: 98%;
}

.w-99 {
  width: 99%;
}

.w-100 {
  width: 100%;
}

.h-1 {
  height: 45px;
}

.h-2 {
  height: 55px;
}

.h-3 {
  height: 65px;
}

.h-4 {
  height: 75px;
}

.h-5 {
  height: 85px;
}

.h-6 {
  height: 95px;
}

.h-7 {
  height: 105px;
}

.h-8 {
  height: 115px;
}

.h-9 {
  height: 125px;
}

.h-10 {
  height: 135px;
}

.h-11 {
  height: 145px;
}

.h-12 {
  height: 155px;
}

.h-13 {
  height: 165px;
}

.h-14 {
  height: 175px;
}

.h-15 {
  height: 185px;
}

.h-16 {
  height: 195px;
}

.h-17 {
  height: 205px;
}

.h-18 {
  height: 215px;
}

.h-19 {
  height: 225px;
}

.h-20 {
  height: 235px;
}

.h-21 {
  height: 245px;
}

.h-22 {
  height: 255px;
}

.h-23 {
  height: 265px;
}

.h-24 {
  height: 275px;
}

.h-25 {
  height: 285px;
}

.h-26 {
  height: 295px;
}

.h-27 {
  height: 305px;
}

.h-28 {
  height: 315px;
}

.h-29 {
  height: 325px;
}

.h-30 {
  height: 335px;
}

.h-31 {
  height: 345px;
}

.h-32 {
  height: 355px;
}

.h-33 {
  height: 365px;
}

.h-34 {
  height: 375px;
}

.h-35 {
  height: 385px;
}

.h-36 {
  height: 395px;
}

.h-37 {
  height: 405px;
}

.h-38 {
  height: 415px;
}

.h-39 {
  height: 425px;
}

.h-40 {
  height: 435px;
}

.h-41 {
  height: 445px;
}

.h-42 {
  height: 455px;
}

.h-43 {
  height: 465px;
}

.h-44 {
  height: 475px;
}

.h-45 {
  height: 485px;
}

.h-46 {
  height: 495px;
}

.h-47 {
  height: 505px;
}

.h-48 {
  height: 515px;
}

.h-49 {
  height: 525px;
}

.h-50 {
  height: 535px;
}

.h-51 {
  height: 545px;
}

.h-52 {
  height: 555px;
}

.h-53 {
  height: 565px;
}

.h-54 {
  height: 575px;
}

.h-55 {
  height: 585px;
}

.h-56 {
  height: 595px;
}

.h-57 {
  height: 605px;
}

.h-58 {
  height: 615px;
}

.h-59 {
  height: 625px;
}

.h-60 {
  height: 635px;
}

.h-61 {
  height: 645px;
}

.h-62 {
  height: 655px;
}

.h-63 {
  height: 665px;
}

.h-64 {
  height: 675px;
}

.h-65 {
  height: 685px;
}

.h-66 {
  height: 695px;
}

.h-67 {
  height: 705px;
}

.h-68 {
  height: 715px;
}

.h-69 {
  height: 725px;
}

.h-70 {
  height: 735px;
}

.h-71 {
  height: 745px;
}

.h-72 {
  height: 755px;
}

.h-73 {
  height: 765px;
}

.h-74 {
  height: 775px;
}

.h-75 {
  height: 785px;
}

.h-76 {
  height: 795px;
}

.h-77 {
  height: 805px;
}

.h-78 {
  height: 815px;
}

.h-79 {
  height: 825px;
}

.h-80 {
  height: 835px;
}

.h-81 {
  height: 845px;
}

.h-82 {
  height: 855px;
}

.h-83 {
  height: 865px;
}

.h-84 {
  height: 875px;
}

.h-85 {
  height: 885px;
}

.h-86 {
  height: 895px;
}

.h-87 {
  height: 905px;
}

.h-88 {
  height: 915px;
}

.h-89 {
  height: 925px;
}

.h-90 {
  height: 935px;
}

.h-91 {
  height: 945px;
}

.h-92 {
  height: 955px;
}

.h-93 {
  height: 965px;
}

.h-94 {
  height: 975px;
}

.h-95 {
  height: 985px;
}

.h-96 {
  height: 995px;
}

.h-97 {
  height: 1005px;
}

.h-98 {
  height: 1015px;
}

.h-99 {
  height: 1025px;
}

.h-100 {
  height: 1035px;
}

.h-half {
  height: 50%;
}

.h-full {
  height: 50%;
}

.hover-shadow:hover {
  -webkit-box-shadow: 10px 10px 20px rgba(17, 17, 17, 0.349);
          box-shadow: 10px 10px 20px rgba(17, 17, 17, 0.349);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hover-underline:hover {
  background-size: 100% 5px, auto;
}

.o-0 {
  opacity: 0%;
}

.o-1 {
  opacity: 1%;
}

.o-2 {
  opacity: 2%;
}

.o-3 {
  opacity: 3%;
}

.o-4 {
  opacity: 4%;
}

.o-5 {
  opacity: 5%;
}

.o-6 {
  opacity: 6%;
}

.o-7 {
  opacity: 7%;
}

.o-8 {
  opacity: 8%;
}

.o-9 {
  opacity: 9%;
}

.o-10 {
  opacity: 10%;
}

.o-11 {
  opacity: 11%;
}

.o-12 {
  opacity: 12%;
}

.o-13 {
  opacity: 13%;
}

.o-14 {
  opacity: 14%;
}

.o-15 {
  opacity: 15%;
}

.o-16 {
  opacity: 16%;
}

.o-17 {
  opacity: 17%;
}

.o-18 {
  opacity: 18%;
}

.o-19 {
  opacity: 19%;
}

.o-20 {
  opacity: 20%;
}

.o-21 {
  opacity: 21%;
}

.o-22 {
  opacity: 22%;
}

.o-23 {
  opacity: 23%;
}

.o-24 {
  opacity: 24%;
}

.o-25 {
  opacity: 25%;
}

.o-26 {
  opacity: 26%;
}

.o-27 {
  opacity: 27%;
}

.o-28 {
  opacity: 28%;
}

.o-29 {
  opacity: 29%;
}

.o-30 {
  opacity: 30%;
}

.o-31 {
  opacity: 31%;
}

.o-32 {
  opacity: 32%;
}

.o-33 {
  opacity: 33%;
}

.o-34 {
  opacity: 34%;
}

.o-35 {
  opacity: 35%;
}

.o-36 {
  opacity: 36%;
}

.o-37 {
  opacity: 37%;
}

.o-38 {
  opacity: 38%;
}

.o-39 {
  opacity: 39%;
}

.o-40 {
  opacity: 40%;
}

.o-41 {
  opacity: 41%;
}

.o-42 {
  opacity: 42%;
}

.o-43 {
  opacity: 43%;
}

.o-44 {
  opacity: 44%;
}

.o-45 {
  opacity: 45%;
}

.o-46 {
  opacity: 46%;
}

.o-47 {
  opacity: 47%;
}

.o-48 {
  opacity: 48%;
}

.o-49 {
  opacity: 49%;
}

.o-50 {
  opacity: 50%;
}

.o-51 {
  opacity: 51%;
}

.o-52 {
  opacity: 52%;
}

.o-53 {
  opacity: 53%;
}

.o-54 {
  opacity: 54%;
}

.o-55 {
  opacity: 55%;
}

.o-56 {
  opacity: 56%;
}

.o-57 {
  opacity: 57%;
}

.o-58 {
  opacity: 58%;
}

.o-59 {
  opacity: 59%;
}

.o-60 {
  opacity: 60%;
}

.o-61 {
  opacity: 61%;
}

.o-62 {
  opacity: 62%;
}

.o-63 {
  opacity: 63%;
}

.o-64 {
  opacity: 64%;
}

.o-65 {
  opacity: 65%;
}

.o-66 {
  opacity: 66%;
}

.o-67 {
  opacity: 67%;
}

.o-68 {
  opacity: 68%;
}

.o-69 {
  opacity: 69%;
}

.o-70 {
  opacity: 70%;
}

.o-71 {
  opacity: 71%;
}

.o-72 {
  opacity: 72%;
}

.o-73 {
  opacity: 73%;
}

.o-74 {
  opacity: 74%;
}

.o-75 {
  opacity: 75%;
}

.o-76 {
  opacity: 76%;
}

.o-77 {
  opacity: 77%;
}

.o-78 {
  opacity: 78%;
}

.o-79 {
  opacity: 79%;
}

.o-80 {
  opacity: 80%;
}

.o-81 {
  opacity: 81%;
}

.o-82 {
  opacity: 82%;
}

.o-83 {
  opacity: 83%;
}

.o-84 {
  opacity: 84%;
}

.o-85 {
  opacity: 85%;
}

.o-86 {
  opacity: 86%;
}

.o-87 {
  opacity: 87%;
}

.o-88 {
  opacity: 88%;
}

.o-89 {
  opacity: 89%;
}

.o-90 {
  opacity: 90%;
}

.o-91 {
  opacity: 91%;
}

.o-92 {
  opacity: 92%;
}

.o-93 {
  opacity: 93%;
}

.o-94 {
  opacity: 94%;
}

.o-95 {
  opacity: 95%;
}

.o-96 {
  opacity: 96%;
}

.o-97 {
  opacity: 97%;
}

.o-98 {
  opacity: 98%;
}

.o-99 {
  opacity: 99%;
}

.o-100 {
  opacity: 100%;
}

.j-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-light {
  background: rgba(255, 255, 255, 0.096);
  -webkit-box-shadow: 0 8px 32px 0 rgba(58, 59, 61, 0.37);
          box-shadow: 0 8px 32px 0 rgba(58, 59, 61, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-dark {
  background: rgba(11, 3, 59, 0.24);
  -webkit-box-shadow: 0 8px 32px 0 rgba(58, 59, 61, 0.37);
          box-shadow: 0 8px 32px 0 rgba(58, 59, 61, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(84, 130, 182, 0.18);
}

.text-glass {
  opacity: 50%;
}

.z-1 {
  z-index: 10;
}

.z-2 {
  z-index: 20;
}

.z-3 {
  z-index: 30;
}

.z-4 {
  z-index: 40;
}

.z-5 {
  z-index: 50;
}

.z-6 {
  z-index: 60;
}

.z-7 {
  z-index: 70;
}

.z-8 {
  z-index: 80;
}

.z-9 {
  z-index: 90;
}

.z-10 {
  z-index: 100;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 20px;
  background-image: ulr("logo192.png");
}

.container-lg {
  padding: 60px;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 1rem 0px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-2 {
    width: 16.66667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-5 {
    width: 41.66667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-8 {
    width: 66.66667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-11 {
    width: 91.66667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

.dropdown ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.dropdown ul li {
  display: inline-block;
}

.dropdown ul li:hover > ul {
  display: inherit;
}

.dropdown ul a {
  display: block;
  text-decoration: none;
}

.dropdown ul ul {
  display: none;
  position: absolute;
}

.dropdown ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

.dropdown ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

/* Change this in order to change the Dropdown symbol */
li > a:after {
  content: " ";
}

li > a:only-child:after {
  content: "";
}

.fill {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 5px;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.text-1 {
  font-size: 1px;
}

.text-2 {
  font-size: 2px;
}

.text-3 {
  font-size: 3px;
}

.text-4 {
  font-size: 4px;
}

.text-5 {
  font-size: 5px;
}

.text-6 {
  font-size: 6px;
}

.text-7 {
  font-size: 7px;
}

.text-8 {
  font-size: 8px;
}

.text-9 {
  font-size: 9px;
}

.text-10 {
  font-size: 10px;
}

.text-11 {
  font-size: 11px;
}

.text-12 {
  font-size: 12px;
}

.text-13 {
  font-size: 13px;
}

.text-14 {
  font-size: 14px;
}

.text-15 {
  font-size: 15px;
}

.text-16 {
  font-size: 16px;
}

.text-17 {
  font-size: 17px;
}

.text-18 {
  font-size: 18px;
}

.text-19 {
  font-size: 19px;
}

.text-20 {
  font-size: 20px;
}

.text-21 {
  font-size: 21px;
}

.text-22 {
  font-size: 22px;
}

.text-23 {
  font-size: 23px;
}

.text-24 {
  font-size: 24px;
}

.text-25 {
  font-size: 25px;
}

.text-26 {
  font-size: 26px;
}

.text-27 {
  font-size: 27px;
}

.text-28 {
  font-size: 28px;
}

.text-29 {
  font-size: 29px;
}

.text-30 {
  font-size: 30px;
}

.text-31 {
  font-size: 31px;
}

.text-32 {
  font-size: 32px;
}

.text-33 {
  font-size: 33px;
}

.text-34 {
  font-size: 34px;
}

.text-35 {
  font-size: 35px;
}

.text-36 {
  font-size: 36px;
}

.text-37 {
  font-size: 37px;
}

.text-38 {
  font-size: 38px;
}

.text-39 {
  font-size: 39px;
}

.text-40 {
  font-size: 40px;
}

.text-41 {
  font-size: 41px;
}

.text-42 {
  font-size: 42px;
}

.text-43 {
  font-size: 43px;
}

.text-44 {
  font-size: 44px;
}

.text-45 {
  font-size: 45px;
}

.text-46 {
  font-size: 46px;
}

.text-47 {
  font-size: 47px;
}

.text-48 {
  font-size: 48px;
}

.text-49 {
  font-size: 49px;
}

.text-50 {
  font-size: 50px;
}

.text-51 {
  font-size: 51px;
}

.text-52 {
  font-size: 52px;
}

.text-53 {
  font-size: 53px;
}

.text-54 {
  font-size: 54px;
}

.text-55 {
  font-size: 55px;
}

.text-56 {
  font-size: 56px;
}

.text-57 {
  font-size: 57px;
}

.text-58 {
  font-size: 58px;
}

.text-59 {
  font-size: 59px;
}

.text-60 {
  font-size: 60px;
}

.text-61 {
  font-size: 61px;
}

.text-62 {
  font-size: 62px;
}

.text-63 {
  font-size: 63px;
}

.text-64 {
  font-size: 64px;
}

.text-65 {
  font-size: 65px;
}

.text-66 {
  font-size: 66px;
}

.text-67 {
  font-size: 67px;
}

.text-68 {
  font-size: 68px;
}

.text-69 {
  font-size: 69px;
}

.text-70 {
  font-size: 70px;
}

.text-71 {
  font-size: 71px;
}

.text-72 {
  font-size: 72px;
}

.text-73 {
  font-size: 73px;
}

.text-74 {
  font-size: 74px;
}

.text-75 {
  font-size: 75px;
}

.text-76 {
  font-size: 76px;
}

.text-77 {
  font-size: 77px;
}

.text-78 {
  font-size: 78px;
}

.text-79 {
  font-size: 79px;
}

.text-80 {
  font-size: 80px;
}

.text-81 {
  font-size: 81px;
}

.text-82 {
  font-size: 82px;
}

.text-83 {
  font-size: 83px;
}

.text-84 {
  font-size: 84px;
}

.text-85 {
  font-size: 85px;
}

.text-86 {
  font-size: 86px;
}

.text-87 {
  font-size: 87px;
}

.text-88 {
  font-size: 88px;
}

.text-89 {
  font-size: 89px;
}

.text-90 {
  font-size: 90px;
}

.text-91 {
  font-size: 91px;
}

.text-92 {
  font-size: 92px;
}

.text-93 {
  font-size: 93px;
}

.text-94 {
  font-size: 94px;
}

.text-95 {
  font-size: 95px;
}

.text-96 {
  font-size: 96px;
}

.text-97 {
  font-size: 97px;
}

.text-98 {
  font-size: 98px;
}

.text-99 {
  font-size: 99px;
}

.text-100 {
  font-size: 100px;
}

* {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100%;
}
/*# sourceMappingURL=index.css.map */