.j {
  &-start {
    justify-content: start;
  }
  &-end {
    justify-content: end;
  }
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
}
.text {
  &-center {
    text-align: center;
  }
  &-end {
    text-align: right;
  }

  &-start {
    text-align: left;
  }
  &-middle {
    top: 50%;
    transform: translate(0%, -50%);
  }
}
