$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);

.bold {
  font-weight: bold;
}
.light {
  font-weight: 300;
}
@for $i from 1 through 100 {
  .text-#{$i} {
    font-size: #{$i}px;
  }
}

@each $breakpoint, $value in $breakpoints {
  @media only screen and (min-width: $value) {
    @for $i from 1 through 100 {
      .text-#{$breakpoint}-#{$i} {
        font-size: (100% / (12 / $i));
      }
    }
  }
}
